---
import Layout from '../../layouts/Layout.astro';
import menuData from '../../components/menu.json';

// Generar rutas estáticas para cada categoría
export async function getStaticPaths() {
  return menuData.menu.map(category => ({
    params: { category: category.category.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '') }
  }));
}

// Obtener la categoría desde la URL
const { category } = Astro.params;

// Buscar la categoría correspondiente
const categoryData = menuData.menu.find(
  (item) => item.category.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '') === category
);

if (!categoryData) {
  return (
    <Layout>
      <div class="contenedor">
        <h1>Categoría no encontrada</h1>
        <a href="/">Volver al inicioo</a>
      </div>
    </Layout>
  );
}
---

<Layout>
  <div class="contenedor">
    <div class="carta" id="carta">
      <div class="atras">
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left-dashed">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12h6m3 0h1.5m3 0h.5" />
            <path d="M5 12l6 6" />
            <path d="M5 12l6 -6" />
          </svg>
        </a>
        <img class="logo" src="/images/logo_firestation.png" alt="logo" class="logo" />
      </div>
      <div>
        {categoryData.items.map(item => (
          item.inStock === false ? null : (
            <div class="product-card">
              <div class="product-info">
                <h3 class="product-title">{item.name}</h3>
                <p class="product-description">{item.ingredients}</p>
                <p class="product-price">{item.price.toFixed(2)} €</p>
              </div>
              {item.image && (
                <div class="product-image">
                  <img src={item.image} alt={item.name} />
                </div>
              )}
            </div>
          )
        ))}
      </div>
    </div>
  </div>
</Layout>
