---
import Layout from '../../layouts/Layout.astro';

// Obtener el ID de la categoría desde la URL
const { id } = Astro.params;

// Obtener los items del menú para esta categoría
const menuItemsResponse = await fetch('http://localhost:3000/api/menu-items');
const allMenuItems = await menuItemsResponse.json();

// Filtrar los items por categoría y asegurarnos de que el precio sea un número
const categoryItems = allMenuItems
  .filter(item => item.category_id === Number(id))
  .map(item => ({
    ...item,
    price: item.price ? parseFloat(item.price) : 0
  }));

if (!categoryItems) {
  throw new Error(`La categoría ${id} no se ha encontrado`);
}
---

<Layout>
  <div class="flex justify-between items-center p-3 bg-white">
    <a href="/">
      <img src="/icons/arrow-left.svg" alt="Back" class="w-8 h-8" />
    </a>
    <img class="w-16" src="/images/logo_firestation.png" alt="Logo Firestation">
  </div>

  <div>
    {categoryItems.map(item => (
      item.in_stock === false ? null : (
        <div class="flex items-center p-4 border-b border-gray-200 bg-white">
          <div class="flex-1 mr-8">
            <h3 class="font-bold">{item.name}</h3>
            <p class="text-sm">{item.ingredients}</p>
            <p class="font-semibold mt-2">
              {item.price === 0 
                ? <span class="italic text-sm">Consultar precio</span> 
                : `${item.price.toFixed(2)} €`}
            </p>
          </div>

          {item.image_url && (
            <div class="w-24 h-24 object-cover">
              <img 
                src={item.image_url} 
                alt={item.name} 
                class="w-full h-full object-cover rounded-lg cursor-pointer border border-gray-200"
                data-modal-target={`modal-${item.name.replace(/\s+/g, '-')}`}
              />
            </div>
            
            <div id={`modal-${item.name.replace(/\s+/g, '-')}`} class="fixed inset-0 bg-black bg-opacity-50 flex justify-center hidden items-center">
              <div class="bg-white p-2 rounded-2xl relative w-[70%] h-[60%]">
                <button class="absolute top-5 right-4" data-modal-close>
                  <img src="/icons/close.svg" alt="Close" class="w-8 h-8" />
                </button>
                <img src={item.image_url} alt={item.name} class="w-full h-full object-cover rounded-xl" />
              </div>
            </div>
          )}
        </div>
      )
    ))}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Evento para abrir el modal cuando se hace clic en la imagen
      document.querySelectorAll("[data-modal-target]").forEach(img => {
        img.addEventListener("click", () => {
          document.getElementById(img.dataset.modalTarget).classList.remove("hidden");
        });
      });
  
      // Evento para cerrar el modal al hacer clic en la "X"
      document.querySelectorAll("[data-modal-close]").forEach(btn => {
        btn.addEventListener("click", () => {
          btn.closest(".fixed").classList.add("hidden");
        });
      });
    });
  </script>
</Layout>