---
import Layout from '../../layouts/Layout.astro';
import menuData from '../../components/menu.json'; // Ajusta la ruta si es necesario
import Closed from '../../assets/close.svg';
import Back from '../../assets/arrow-left.svg';


// Generar rutas estáticas para cada categoría
export async function getStaticPaths() {
  return menuData.menu.map(category => ({
    params: { 
      id: category.id
    }
  }));
}


// Obtener el ID de la categoría desde la URL
const { id } = Astro.params;

// Buscar la categoría correspondiente
const categoryData = menuData.menu.find((item) => item.id === Number(id));


if (!categoryData) {
  throw new Error(`La categoría ${id} no se ha encontrado`);
}

---

<Layout>

      <div class="flex justify-between items-center p-3 bg-white">
        <a href="/"><Back size={38}/></a>
      
      <img class="w-16" src="/images/logo_firestation.png" alt="Logo Firestation">
      
      </div>
      <div>
        {categoryData && categoryData.items.map(item => (
          item.inStock === false ? null : (
            <div class="flex items-center p-4 border-b border-gray-200 bg-white">
                <div class="flex-1 mr-8">
                  
                      <h3 class="font-bold">{item.name}</h3>
                      <p class="text-sm">{item.ingredients}</p>
                      <p class="font-semibold mt-2">
                        {item.price === 0 
                        ? <p class="italic text-sm">Consultar precio</p> 
                        : `${item.price.toFixed(2)} €`}
                      </p>
                </div>

              {item.image && (
                  <div class="w-24 h-24 object-cover">
                    <img 
                      src={item.image} 
                      alt={item.name} 
                      class="w-full h-full object-cover rounded-lg cursor-pointer border border-gray-200"
                      data-modal-target={`modal-${item.name.replace(/\s+/g, '-')}`}
                    />
                  </div>
                  
                  <!-- Modal -->
                  <div id={`modal-${item.name.replace(/\s+/g, '-')}`} class="fixed inset-0 bg-black bg-opacity-50 flex justify-center hidden items-center">
                      <div class="bg-white p-2 rounded-2xl relative w-[70%] h-[60%]">
                        <button class="absolute top-8 right-8" data-modal-close><Closed size={38}/></button>
                        <img src={item.image} alt={item.name} class="w-full h-full object-cover rounded-xl" />
                      </div>
                  </div>
              )}
            </div>
          )
        ))}
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          // Evento para abrir el modal cuando se hace clic en la imagen
          document.querySelectorAll("[data-modal-target]").forEach(img => {
            img.addEventListener("click", () => {
              document.getElementById(img.dataset.modalTarget).classList.remove("hidden");
            });
          });
      
          // Evento para cerrar el modal al hacer clic en la "X"
          document.querySelectorAll("[data-modal-close]").forEach(btn => {
            btn.addEventListener("click", () => {
              btn.closest(".fixed").classList.add("hidden");
            });
          });
        });
      </script>

</Layout>